/* ROOT STYLES */
.rootContainer {
  height: 100vh;
  background-color: rgb(48, 58, 59);
  display: flex;
}

/* SIDEBAR STYLES */
.sidebarContainer {
  padding: 20px;
  border-right: 1px solid #e0e0e084;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 155px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebarLogo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Brush Script MT', cursive;
}

/* LINK BUTTON STYLES */
.linkButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.linkButtonContainer:hover {
  background-color: darkgrey;
  margin: 10px;
  padding: 10px;
}
.linkButtonIcon {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.linkButtonText {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

/* POST STYLES */
.postHeaderContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: 1px solid white;
}
.postContainer {
  background-color: rgb(48, 58, 59);
  padding: 8px;
  border-radius: 7px;
  margin: 20px;
  height: fit-content;
  border: 2px solid #a8a6a6;
}
.commentsContainer {
  background-color: aqua;
  border-radius: 5px;
  height: 28px;
  width: 270px;
  gap: 10px;
}
/* Post Actions*/
.postActionsContainer {
  background-color: rgb(48, 58, 59);
  border-radius: 5px;
}
.actionButton {
  background-color: rgb(48, 58, 59);
  border-radius: 5px;
}
.actionButton:hover {
  background-color: rgb(169, 165, 169);
}
.likeButton.liked {
  color: #ff3040;
  fill: #ff3040;
}
